#bar{
    cursor: pointer;
    position: relative;
    background-color: transparent;
    border: none;
    color: white;
    font-size: 18px;
    visibility: hidden;
}


#slide{
    position: fixed;
    z-index: 10000000000000000000;
    letter-spacing: 0;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    background-color: green;
    width: 170px;
    height: 290px;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 25px;
    border: 3px solid white;
    top: 67px;
    left: 313px;
    visibility: hidden;
}

#slide li a{
    text-decoration: none;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    
}

#slide a:visited{
    text-decoration: none;
    color: white;
}

#slide li{
    list-style-type: none;
   
}

#slide li a:hover{
    background-color: red;
    padding: 10px 25px;
}

#slide li a:active{
    background-color: red;
}

@media screen and (max-width: 641px){
    #bar{
        visibility: visible;
        position: absolute;
        top: 18px;
        left: 450px;
    }
}



